<div id="no-responsive" class="d-block d-md-none">
  <div class="alert alert-primary">
    <p>
      Ce site n'est malheureusement pas responsive : il ne répond qu'au besoin
      de l'exercice, qui est de démontrer des compétences en JavaScript.
    </p>
    <p>
      Dans un soucis d'efficacité et de productivité, ce jeu n'est disponible
      qu'à partir d'un écran ayant une largeur de 992px.
    </p>
    <a href="http://altitudesweb.fr" class="btn btn-primary mx-auto d-block"
      >Mon site pro, responsive</a
    >
  </div>
</div>
